 .u-section-1 {
  background-image: url("images/image-1.png?rand=167b");
  background-position: 50% 50%;
  min-height: 496px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 387px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 496px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 163px;
  }
} .u-section-2 {
  background-image: linear-gradient(black, #f19e0d);
}

.u-section-2 .u-sheet-1 {
  min-height: 1076px;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 157px;
  width: 1060px;
  margin: 55px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.5rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 40px 465px 0 80px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-text-3 {
  margin: -29px 0 0 571px;
}

.u-section-2 .u-group-2 {
  height: auto;
  min-height: 270px;
  width: 1060px;
  margin: 55px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 2.5rem;
  margin: 17px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 17px auto 0 337px;
}

.u-section-2 .u-text-6 {
  margin: -29px auto 0 564px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  width: 159px;
  margin: 17px auto 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
}

.u-section-2 .u-image-1 {
  width: 181px;
  height: 70px;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 13px auto 0;
}

.u-section-2 .u-group-3 {
  height: auto;
  min-height: 136px;
  width: 1060px;
  margin: 55px auto 60px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-8 {
  font-size: 2.5rem;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 36px 447px 0 30px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -32px 88px 0 863px;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -29px 399px 0 593px;
}

.u-section-2 .u-text-12 {
  margin: -29px 237px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    min-height: 133px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.75rem;
    width: auto;
    margin-top: 26px;
    margin-right: 438px;
    margin-left: 55px;
  }

  .u-section-2 .u-btn-1 {
    padding: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -31px;
    margin-right: 95px;
    margin-left: 480px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.75rem;
    width: auto;
    margin-top: 33px;
    margin-left: 260px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 175px;
    margin-left: 519px;
  }

  .u-section-2 .u-text-7 {
    width: 154px;
    margin-top: 16px;
  }

  .u-section-2 .u-btn-2 {
    padding: 0;
  }

  .u-section-2 .u-image-1 {
    width: 238px;
    height: 90px;
    transition-duration: 1s;
    margin-top: 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: 45px;
    min-height: 142px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.75rem;
    margin-top: 22px;
    margin-right: 357px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 28px;
    margin-left: 803px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-right: 339px;
    margin-left: 533px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-right: 147px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 17px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 463px;
    margin-left: 203px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 185px;
    margin-left: 474px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -203px;
    margin-right: 513px;
    margin-left: 233px;
  }

  .u-section-2 .u-text-6 {
    margin-right: auto;
    margin-left: 504px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 353px;
    margin-right: 51px;
    margin-left: 788px;
  }

  .u-section-2 .u-image-1 {
    width: 100px;
    margin-top: -303px;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 137px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 611px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 229px;
    margin-left: 423px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 160px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 146px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -100px;
    margin-left: 175px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 159px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-top: 193px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -194px;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 431px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 139px;
    margin-left: 333px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: 40px;
    margin-right: 230px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -50px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-5 {
    margin-top: -52px;
    margin-right: 230px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -50px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 238px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-10 {
    margin-left: 231px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 39px;
    margin-left: 233px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 93px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1) translateX(0px) translateY(px) !important;
  box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  border-style: solid !important;
  border-top-width: 5px !important;
  border-left-width: 5px !important;
  border-right-width: 5px !important;
  border-bottom-width: 5px !important;
  border-color: #f19e0d !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1) translateX(0px) translateY(px) !important;
  box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  border-style: solid !important;
  border-top-width: 5px !important;
  border-left-width: 5px !important;
  border-right-width: 5px !important;
  border-bottom-width: 5px !important;
  border-color: #f19e0d !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: linear-gradient(#f19e0d, black);
}

.u-section-3 .u-sheet-1 {
  min-height: 841px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 819px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 810px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 803px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 795px;
  }
} .u-section-4 {
  background-image: linear-gradient(black, #eb1b24);
  color: white;
}

.u-section-4 .u-sheet-1 {
  min-height: 841px;
} .u-section-5 {
  background-image: linear-gradient(#eb1b24, black);
}

.u-section-5 .u-sheet-1 {
  min-height: 841px;
} .u-section-6 {
  background-image: linear-gradient(black, #f19e0d);
}

.u-section-6 .u-sheet-1 {
  min-height: 841px;
}
section#