body {
  font-family: 'Montserrat', sans-serif;
  margin:0;
}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

table{
    border-spacing: 0px;
    padding: 0px;
}

header{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 10vh;
    background-color: #1A1A1A;
    color: #FFFFFF;
    z-index:2;
}

header img
{
    margin-left: 13%;
    height: 90%;
}

header ul
{
    position: absolute;
    display: flex;
    list-style: none;
    right: 13%;
    width: 50%;
    color: #FFFFFF;

}

header ul li
{
    padding: 10px 44px;
}

header ul li a:hover{
    color: #dc8c0f;
    cursor: pointer;
}

section{
    padding-top: 10vh;
    margin:0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sec-1{
    display: flex;
    align-items: center;
}
#gpk_box_logo{
    width:100%;
    height: auto;
}

#sec-2{
    height:95vh;
    background: linear-gradient(#1a1a1a, #ff0025);
}

#sec-2 .wrapper {
    text-align: center;
    margin-top: 5vh;
    width: 80vw;
    height: auto;
    background-color: #555c66;
    border-radius: 20px;
    color: white;
    display:flex;
    flex-direction:column;
}

#sec-2 .name{
    height:24px;
    padding: 10px;
}

#sec-3{
    height:auto;
    min-height:95vh;
    background: linear-gradient(#ff0025, #1a1a1a);
}

#sec-3 .pass-wrapper{
    height:100%;
    display: flex;
    align-items:center;
}

#sec-3 h1{
    text-align: center;
    padding: 20px 40px;
    background-color:  #1a1a1a;
    color: white;
    border-radius: 20px;
    width: 30vw;
    font-size: 50px;
    height:auto;
}

#sec-3 .wrapper{
    display: flex;
    align-items: center;
}

#sec-3 .avg-mmr {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #0a0a0a;
}
#sec-3 .btn {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
#sec-3 .btn-success {
    background-color: #28a745;
}
#sec-3 .btn-primary:hover {
    background-color: #0056b3;
}
#sec-3 .hidden-info {
    display: none;
}

#sec-4{
    height:auto;
    background: linear-gradient(#1a1a1a, #f8e800);

}

#sec-4 .video-frame{
    width:384px;
    height:384px;
    border-radius:50%;
    overflow: hidden;
    margin-bottom:10px;
    z-index:1;
}

#sec-4 .message-wrapper{
    padding: 20px 10px;
    height: auto;
    color: white;
    background-color: #212121;
    border-radius:10px;
    display:flex;
    flex-direction: column;
}
#sec-4 .message-wrapper:empty {
    display:none;
}
#sec-4 img{
    width: 384px;
    height: auto;
}

#sec-5{
    padding-bot: 15px;
    height:auto;
    background: linear-gradient(#f8e800, #1a1a1a);
}

#sec-5 .wrapper{
    display:flex;
    justify-content: space-between;
}

#sec-5 .videos-from-team, .videos-from-esport{
    display:flex;
    flex-direction: column;
}

#sec-5 iframe{
    margin:15px 40px;
    background-color:#212121;
    padding: 15px 15px;
    border-radius:10px;
}

#sec-6{
    color: white;
    height:auto;
    background: linear-gradient(#1a1a1a, #ff0025);
}

#sec-6 img{
    height:50vh;
    width:auto;
}

#sec-6>.text-wrapper{
    width:40vw;
}

footer{
    font-size:20px;
    bot: 0px;
    color: #FFFFFF;
    height: 20vh;
    background-color: #333333;
    display: flex;
}
.autor_telegram{
    padding-left: 1%;
    position:relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
}
.autor_telegram a{
    padding-top: 5%;
    position:relative;
    width: 100%;
    display:flex;
    justify-content:center;
}
.autor_telegram a img{
    height: 10vh;
    bottom: 5vh;
}

.gpk_media{
    position:relative;
    width: 60%;
    height:100%;
    color: inherit;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size: 24px;

}
.gpk_media .text{
    position:absolute;
    display: flex;
    align-items:center;
    top: 10%;

}
.gpk_media ul{
    position:absolute;
    list-style: none;
    width:100%;
    height: 80%;
    display:flex;
    justify-content: space-between;
    padding-inline-start:0px
}

.gpk_media ul li img{
    padding: 19px;
}

.ul-img{
    height: 4vw;
    width: auto;
}

.to_the_top{
    padding-left: 1%;
    position:relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
}
.to_the_top a{
    padding-top: 5%;
    position:relative;
    width: 100%;
    display:flex;
    justify-content:center;
}
.to_the_top a img{
    padding-top: 2%;
    height: 10vh;
    bottom: 5vh;
}



